body {
	background-color: #ffffff;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	margin: 0 auto;
	min-width: 800px;
	width: 100%;
}

header, section, article, aside, footer {
	display: block;
}

a:link, a:visited {
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	text-decoration: none;
}

#page {
	margin: 0 100px;
}

h1 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
	border-bottom: 1px solid #AFAFAF;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #D20005;
}

h3 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	padding: 10px;
}

.order-table {
	border-collapse: collapse;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.order-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

div.line {
	transform-origin: 0 100%;
	height: 2px;
	background: #080808;
	margin: 5px 0;
}

.red {
	color: #f87d44;
}

.green {
	color: #92f658;
}

.green, .red {
	font-weight: bold;
}
/* Header */
#header {
	background-color: #222;
	border-color: #080808;
	height: 50px;
	color: #9d9d9d;
	min-width: 1300px;
}

.nav-login-block {
	
}

.nav-main {
	margin-left: 20px;
	float: left;
	padding: 15px 15px;
}

.nav-main.recepcion a {
	color: #c1dce9;
}

.nav-main.recepcion a:hover {
	color: #4985ff;
}

.nav-main a {
	color: #9d9d9d;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.nav-main a:hover {
	color: #ecff9f;
	text-decoration: none;
}

.nav-login-form {
	float: right !important;
	margin-top: 8px;
	margin-right: 25px;
	margin-bottom: 8px;
	margin-left: -15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.nav-login-form input {
	margin-right: 15px;
}

.login-submit {
	display: inline-block;
	padding: 5px;
	white-space: nowrap;
	vertical-align: top;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #ecff9f;
	border-color: #ecff9f;
	font-weight: bold;
}

.login-submit:hover {
	background-color: #c9ec3b;
	border-color: #c9ec3b;
}

.login-submit.logout {
	background-color: #fbbf72;
	border-color: #fbbf72;
}

.login-submit.logout:hover {
	background-color: #f87d44;
	border-color: #f87d44;
}

.login-submit.userlink {
	background-color: #c1dce9;
	border-color: #c1dce9;
}

.login-submit.userlink:hover {
	background-color: #4985ff;
	border-color: #4985ff;
}

.login-submit.navi {
	background-color: #ccffae;
	border-color: #ccffae;
}

.login-submit.navi:hover {
	background-color: #92f658;
	border-color: #92f658;
}

.login-submit.padding-margin {
	padding: 5px 15px;
	margin: 10px;
}

.login-submit.dni {
	background-color: #ffffff;
	border-color: #ffffff;
	margin-right: 15px;
	font-size: 16px;
	line-height: 18px;
	cursor: unset;
}

.login-submit.recepcion {
	padding: 0px;
	margin-right: 15px;
}

.login-submit.block {
	display: block;
	margin: 10px 10px 10px 30px;
}

.login-submit.inline{
	display:inline;
}

.login-submit.right{
	margin: 0 0 0 10px;
}

/* Content */
#content {
	padding: 20px;
}

.button-back {
	width: 300px;
	text-align: center;
}

.reservainfo {
	min-width: 400px;
}

.recepcion-info {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
	font-size: 16px;
	margin: 5px;
	padding: 5px;
	color: #9d9d9d;
}

.recepcion-info .usuario {
	display: block;
	margin: 5px;
	padding: 5px;
}

.recepcion-info span {
	color: #000000;
	font-weight: bold;
}

.recepcion-operaciones-form {
	margin: 20px 0;
}

.recepcion {
	color: #9d9d9d;
}

.recepcion.blue {
	color: #4985ff;
}

#startDate.ui-datepicker-calendar {
    display: none;
}
    
/* Footer */
#footer {
	padding: 10px 10px 10px 15px;
	clear: both !important;
	width: 940px;
	margin: auto;
}

footer {
	text-align: center;
}
/* face messages */
.info-messages {
	color: blue;
}

.error-messages {
	color: #d20005;
}